.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.background span:nth-child(1) {
    color: #ff0000;
    top: 85%;
    left: 91%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -19vw -20vh;
    box-shadow: -2vmin 0 1.1733245749122516vmin currentColor;
}
.background span:nth-child(2) {
    color: #ff0000;
    top: 76%;
    left: 67%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 12vw 14vh;
    box-shadow: 2vmin 0 1.0026894169388099vmin currentColor;
}
.background span:nth-child(3) {
    color: #ff0000;
    top: 91%;
    left: 25%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw 3vh;
    box-shadow: -2vmin 0 0.5268450275627112vmin currentColor;
}
.background span:nth-child(4) {
    color: #ff0000;
    top: 89%;
    left: 32%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -6vw 0vh;
    box-shadow: -2vmin 0 1.1413265190868507vmin currentColor;
}
.background span:nth-child(5) {
    color: #ff0000;
    top: 83%;
    left: 24%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -15vw 25vh;
    box-shadow: -2vmin 0 0.3896040824203797vmin currentColor;
}
.background span:nth-child(6) {
    color: #ff0000;
    top: 85%;
    left: 77%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 7vw -23vh;
    box-shadow: 2vmin 0 0.46547395874746944vmin currentColor;
}
.background span:nth-child(7) {
    color: #ff0000;
    top: 87%;
    left: 77%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -16vw -14vh;
    box-shadow: 2vmin 0 0.27364040629905095vmin currentColor;
}
.background span:nth-child(8) {
    color: #ff0000;
    top: 54%;
    left: 12%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 13vw -22vh;
    box-shadow: 2vmin 0 0.7303652420235922vmin currentColor;
}
.background span:nth-child(9) {
    color: #ff0000;
    top: 85%;
    left: 100%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 12vw 19vh;
    box-shadow: -2vmin 0 1.136665203921796vmin currentColor;
}
.background span:nth-child(10) {
    color: #ff0000;
    top: 1%;
    left: 80%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw 16vh;
    box-shadow: 2vmin 0 1.1014225904784811vmin currentColor;
}
.background span:nth-child(11) {
    color: #ff0000;
    top: 79%;
    left: 36%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 5vw 23vh;
    box-shadow: -2vmin 0 0.3775743556524349vmin currentColor;
}
.background span:nth-child(12) {
    color: #ff0000;
    top: 38%;
    left: 45%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -8vw -16vh;
    box-shadow: 2vmin 0 0.9157298585410787vmin currentColor;
}
.background span:nth-child(13) {
    color: #ff0000;
    top: 97%;
    left: 1%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw 5vh;
    box-shadow: -2vmin 0 1.1046304843264148vmin currentColor;
}
.background span:nth-child(14) {
    color: #ff0000;
    top: 80%;
    left: 35%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 16vw 25vh;
    box-shadow: -2vmin 0 0.5073296386438642vmin currentColor;
}
.background span:nth-child(15) {
    color: #ff0000;
    top: 72%;
    left: 48%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 19vw -9vh;
    box-shadow: -2vmin 0 0.41091127983890896vmin currentColor;
}
.background span:nth-child(16) {
    color: #ff0000;
    top: 65%;
    left: 65%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -22vw 6vh;
    box-shadow: 2vmin 0 0.6997659083506023vmin currentColor;
}
.background span:nth-child(17) {
    color: #ff0000;
    top: 2%;
    left: 78%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw -6vh;
    box-shadow: -2vmin 0 0.5287838239563507vmin currentColor;
}
.background span:nth-child(18) {
    color: #ff0000;
    top: 63%;
    left: 92%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 23vw 2vh;
    box-shadow: 2vmin 0 0.5858103190169635vmin currentColor;
}
.background span:nth-child(19) {
    color: #ff0000;
    top: 15%;
    left: 13%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -2vw 25vh;
    box-shadow: -2vmin 0 0.7403254458825703vmin currentColor;
}
.background span:nth-child(20) {
    color: #ff0000;
    top: 60%;
    left: 58%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw 20vh;
    box-shadow: -2vmin 0 1.0209722934039034vmin currentColor;
}
.background span:nth-child(21) {
    color: #ff0000;
    top: 57%;
    left: 99%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 5vw 17vh;
    box-shadow: 2vmin 0 0.42786674858774254vmin currentColor;
}
.background span:nth-child(22) {
    color: #ff0000;
    top: 62%;
    left: 50%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw 7vh;
    box-shadow: -2vmin 0 0.9818787215272071vmin currentColor;
}
.background span:nth-child(23) {
    color: #ff0000;
    top: 41%;
    left: 50%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -4vw -11vh;
    box-shadow: 2vmin 0 0.9100570113610296vmin currentColor;
}
.background span:nth-child(24) {
    color: #ff0000;
    top: 16%;
    left: 96%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw 19vh;
    box-shadow: 2vmin 0 1.1242349830046756vmin currentColor;
}
.background span:nth-child(25) {
    color: #ff0000;
    top: 84%;
    left: 12%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 13vw 10vh;
    box-shadow: 2vmin 0 0.832385611843593vmin currentColor;
}
.background span:nth-child(26) {
    color: #ff0000;
    top: 93%;
    left: 39%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -20vw 17vh;
    box-shadow: -2vmin 0 1.0040130669354805vmin currentColor;
}
.background span:nth-child(27) {
    color: #ff0000;
    top: 24%;
    left: 96%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw 23vh;
    box-shadow: 2vmin 0 0.6025754890282118vmin currentColor;
}
.background span:nth-child(28) {
    color: #ff0000;
    top: 84%;
    left: 81%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -4vw 18vh;
    box-shadow: -2vmin 0 0.9924814718291091vmin currentColor;
}
.background span:nth-child(29) {
    color: #ff0000;
    top: 33%;
    left: 33%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -15vw -4vh;
    box-shadow: -2vmin 0 0.9763094056086901vmin currentColor;
}
.background span:nth-child(30) {
    color: #ff0000;
    top: 71%;
    left: 78%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -6vw 6vh;
    box-shadow: 2vmin 0 0.6130386129455296vmin currentColor;
}
.background span:nth-child(31) {
    color: #ff0000;
    top: 73%;
    left: 64%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -23vw 3vh;
    box-shadow: -2vmin 0 0.9735052866764762vmin currentColor;
}
.background span:nth-child(32) {
    color: #ff0000;
    top: 19%;
    left: 33%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -4vw -7vh;
    box-shadow: 2vmin 0 0.9956552443055513vmin currentColor;
}
.background span:nth-child(33) {
    color: #ff0000;
    top: 74%;
    left: 99%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -3vw -23vh;
    box-shadow: -2vmin 0 0.7671006837175907vmin currentColor;
}
.background span:nth-child(34) {
    color: #ff0000;
    top: 60%;
    left: 65%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 17vw 11vh;
    box-shadow: -2vmin 0 0.5867562535291033vmin currentColor;
}
.background span:nth-child(35) {
    color: #ff0000;
    top: 99%;
    left: 47%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw -5vh;
    box-shadow: 2vmin 0 0.727940094362092vmin currentColor;
}
.background span:nth-child(36) {
    color: #ff0000;
    top: 1%;
    left: 21%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -12vw 17vh;
    box-shadow: 2vmin 0 1.0141563821289845vmin currentColor;
}